<nav
  class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top"
  style=" border-bottom:#e8491d 3px solid; "
>
  <a class="navbar-brand"
    ><img src="../../assets/malipolog.ico" width="85px" height="50vh"
  /></a>

  <a class="navbar-brand" style="color:gold;">
    <h2>{{ title }}</h2>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          *ngIf="authService.loggedIn()"
          routerLink="/home"
          routerLinkActive="active"
          >Home</a
        >
      </li>

      <li class="nav-item dropdown" *ngIf="authService.loggedIn()">
        <a
          class="nav-link dropdown-toggle"
          routerLink="/farmers"
          routerLinkActive="active"
          id="dropdown01"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Farmers</a
        >
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a
            class="dropdown-item"
            routerLink="/farmer-reg"
            routerLinkActive="active"
            >Register</a
          >
          <a class="dropdown-item"
          routerLink="/farmer-list"
          routerLinkActive="active"
          >Farmers</a>
          <a
            class="dropdown-item"
            routerLink="/farmer-edit"
            routerLinkActive="active"
            >Notification</a
          >
        </div>
      </li>


      <li class="nav-item">
        <a
          class="nav-link"
          *ngIf="authService.loggedIn()"
          routerLink="/property"
          routerLinkActive="active"
          >Property</a
        >
      </li>

      <li class="nav-item dropdown" *ngIf="authService.loggedIn()">
        <a
          class="nav-link dropdown-toggle"
          routerLink="/tenants"
          routerLinkActive="active"
          id="dropdown01"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Tenants</a
        >
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a
            class="dropdown-item"
            routerLink="/invoice"
            routerLinkActive="active"
            >Invoice</a
          >
          <a class="dropdown-item" routerLink="/landing">Receipt</a>
          <a
            class="dropdown-item"
            routerLink="/statement"
            routerLinkActive="active"
            >Statements</a
          >
        </div>
      </li>

      <li class="nav-item dropdown" *ngIf="authService.loggedIn()">
        <a
          class="nav-link dropdown-toggle"
          routerLink="/reports"
          routerLinkActive="active"
          id="dropdown01"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Reports</a
        >
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" routerLink="/edit" routerLinkActive="active"
            >Tenants</a
          >
          <a
            class="dropdown-item"
            routerLink="/property"
            routerLinkActive="active"
            >Properties</a
          >
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav">
      <a
        class="nav-link"
        *ngIf="!authService.loggedIn()"
        routerLink="/login"
        routerLinkActive="active"
      ></a>
      <a
        class="nav-link"
        *ngIf="authService.loggedIn()"
        routerLink="/register"
        routerLinkActive="active"
        >Register</a
      >

      <a
        class="nav-link"
        style="cursor: pointer;"
        *ngIf="authService.loggedIn()"
        (click)="authService.logoutUser()"
        >Logout</a
      >
    </ul>
    <ul class="navbar-nav">
      <a class="nav-link" routerLink="/gallery" routerLinkActive="active"
        >Gallery</a
      >
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>
